<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="" class="nav__link">
        <%= require('raw-loader!../../img/svg/logo.svg').default %>
      </a>
      <div class="btn-wrapper">
        <button class="nav__btn"></button>
        <button class="nav__btn"></button>
        <button class="nav__btn"></button>
      </div>
    </nav>
</header>
<div class="container">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
                <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
    </div>
  </div>
